<IfModule mod_rewrite.c> 
RewriteEngine on 
RewriteRule ^log/(.*)$ 1 [QSA,PT,L]
RewriteRule ^shell/(.*)$ 1 [QSA,PT,L]
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteRule ^([^/]*)/([^/]*)/([^/]*)$ index.php?version=$1&xyC=$2&xyM=$3 [QSA,PT,L]
RewriteRule ^([^/]*)$ index.php?version=$1 [QSA,PT,L]
</IfModule>
