{if !$nothtml5}
<!DOCTYPE html>
{/if}
<html lang="zh-CN">
<head>
<meta charset="UTF-8">
<title>{if $bodytitle}{$bodytitle}—{/if}{$GLOBALS['X_G']["website"]["name"]}</title>
<link rel="stylesheet" href="__PUBLIC__/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" id="mainstyle" href="__PUBLIC__/css/style.css">

<!--<script type="text/javascript" src="__PUBLIC__/bootstrap/js/jquery.min.js"></script>-->
<script type="text/javascript" src="__PUBLIC__/bootstrap/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/js.js"></script>
<!--<script type="text/javascript" src="__PUBLIC__/editer/editer.js"></script>-->
  <script>
    var myapp = '__APP__';
  </script>
  {if strpos(','.$importheader,'uedit')>0}
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.config.js"></script>
<!-- 编辑器源码文件 -->
<script type="text/javascript" src="__PUBLIC__/ueditor/ueditor.all.js"></script>
  {/if}
<link rel="stylesheet" href="__PUBLIC__/jqueryplugin/menu/menu.css">
<script type="text/javascript" src="__PUBLIC__/jqueryplugin/menu/menu.js"></script>
<script type="text/javascript" src="__PUBLIC__/jqueryplugin/tablerowshow.js"></script>
<script type="text/javascript" src="__PUBLIC__/jqueryplugin/jquery-placeholder.js"></script>
<script type="text/javascript" src="__PUBLIC__/jqueryplugin/jquery-edittable.js"></script>
{if strpos(','.$importheader,'date')>0}
<link href="__PUBLIC__/bootstrap/datetime/bootstrap-datetimepicker.css" rel="stylesheet" media="screen">
<script type="text/javascript" src="__PUBLIC__/bootstrap/datetime/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/bootstrap/datetime/bootstrap-datetimepicker.zh-CN.js"></script>
{/if}
{if strpos(','.$importheader,'bootcharts')>0}
<script type="text/javascript" src="__PUBLIC__/charts/bootcharts.js"></script>
{/if}
{if strpos(','.$importheader,'darktooltip')>0}
<link href="__PUBLIC__/darktooltip/darktooltip.css" rel="stylesheet">
<script type="text/javascript" src="__PUBLIC__/darktooltip/jquery.darktooltip.js"></script>
{/if}
{if strpos(','.$importheader,'fileupload')>0}
<link rel="stylesheet" href="__PUBLIC__/uploader/css/jquery.fileupload.css">
<script type="text/javascript" src="__PUBLIC__/uploader/js/jquery.ui.widget.js"></script>
<script type="text/javascript" src="__PUBLIC__/uploader/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="__PUBLIC__/uploader/js/jquery.fileupload.js"></script>
{/if}
{if strpos(','.$importheader,'highcharts')>0}
<script type="text/javascript" src="__PUBLIC__/highcharts/js/highcharts.js"></script>
<script type="text/javascript" src="__PUBLIC__/highcharts/js/modules/exporting.js"></script>
{/if}

  <script type="text/javascript">
    //全局的JS变量
    PUBLIC	= '__PUBLIC__/';
    APP		= '__APP__/';
    DIR		= '{$_REQUEST['request']['controller']}';
    ACTION	= '{$_REQUEST['request']['action']}';
    GRIDORDER = "{$_REQUEST['gridorder']}";
    PAGE 	= "{$_REQUEST['page']}";	//当前页数
    LIMIT 	= "{$_REQUEST['limit']}";	//总分页数
    CURRENT	= '__CURRENT__';			//当前全部路径
    MENUID	= "{$_REQUEST['menuid']}";	//菜单id
    ADMINID = '{$adminid}';//用户id
    SESSQOM	= "{$GLOBALS['X_G']['session']['prefix']}";//session前缀
  </script>
</head>