<!--分页的-->
{if $paging}
<div class="blank10"></div>
<table width="100%" id="paging_{rand(100,999)}" cellspacing="0" cellpadding="0"><tr>
	<td align="left">
		{if $paging['maxpage'] > 1}
			<ul class="pagination" style="margin:0px">
			{if $paging['page'] > 1}
				<li><a href="__CURRENT__/{$paging['date']}/page/1/limit/{$paging['limit']}{$paging['url']}" title="首页">&laquo;</a></li><li><a href="__CURRENT__/page/{$paging['prevpage']}/limit/{$paging['limit']}{$paging['url']}" title="上一页">&lt;</a></li>
			{else}
				<li class="disabled"><a title="首页">&laquo;</a></li><li class="disabled"><a title="上一页">&lt;</a></li>
			{/if}
			
			{php for($i = $paging['page']-4; $i <= $paging['page']+4; $i++){}
				{if $i >= 1 && $i <= $paging['maxpage']}
					{if $i == $paging['page']}
						<li class="active"><a title="当前页">{$i}</a></li>
					{else}
						<li><a href="__CURRENT__/{$paging['date']}/page/{$i}/limit/{$paging['limit']}{$paging['url']}" title="第{$i}页">{$i}</a></li>
					{/if}
				{/if}
			{php } }
	
			
			{if $paging['page'] < $paging['maxpage']}
				<li><a href="__CURRENT__/{$paging['date']}/page/{$paging['nextpage']}/limit/{$paging['limit']}{$paging['url']}" title="下一页">&gt;</a></li><li><a href="__CURRENT__/page/{$paging['maxpage']}/limit/{$paging['limit']}{$paging['url']}" title="尾页">&raquo;</a></li>
			{else}
				<li class="disabled"><a title="下一页">&gt;</a></li><li class="disabled"><a title="尾页">&raquo;</a></li>
			{/if}
			</ul>
		{/if}
	</td>
	<td align="right">
		{if $paging['count'] <=0 }
		无记录
		{else}
		共有<b>{$paging['count']}</b>条记录&nbsp; 每页<input value="{$paging['limit']}" style="width:30px;height:20px;line-height:15px" onblur="js.gridlimitpage(this,{$paging['limit']},'limit')" onkeydown="if(event.keyCode==13)this.blur()" maxlength="4">条&nbsp; 第<input value="{$paging['page']}" class="barinput" style="width:30px;height:20px;line-height:15px"  onkeydown="if(event.keyCode==13)this.blur()" onblur="js.gridlimitpage(this,{$paging['page']},'page')" maxlength="4">页,共{$paging['maxpage']}页
		{/if}
	</td>
	</tr>
	</table>
{/if}	