<!--工具栏的-->
{if $tools}
{if !$toolsrand}
{php $rand = rand(100,999)}
{else}
{php $rand = $toolsrand}
{/if}

<form>
    <table id="tools_{$rand}" border="0" cellspacing="0" cellpadding="0" height="34">
    <tr>
        {loop $tools $tbara}
        {if is_array($tbara)}
        {php $toos_val = $_REQUEST[$tbara['name']];}
        {if $toos_val==''}
        {php $toos_val = $tbara['defaultvalue'];}
        {/if}
        {if $tbara['xtype'] == 'select'}
        <td width="5"></td>
        <td>
            <select {if $tbara['onchange']}onchange="{$tbara['onchange']}"{/if} temp="tbarsou{$rand}" style="width:{if
            $tbara['width']}{$tbara['width']}{else}130px{/if};{$tbara['style']}" id="{$tbara['name']}"
            {$tbara['other']}>
            {if $tbara['emptyvalue']}
                <option value="{$tbara['defaultvalue']}">{$tbara['emptyvalue']}</option>
            {/if}
            {loop $tbara['data'] $da}
                {php $oic = 0;$da2=array();}
                {loop $da $dakv $da1}
                    {if $oic==0}
                    {php $da2[0]=''.$da1.''}
                    {/if}
                    {if $oic==1}
                    {php $da2[1]=$da1}
                    {/if}
                    {php $oic++;}
                {/loop}
                {if $oic==1}
                {php $da2[0]=''.$dakv.'';$da2[1]=$da1;}
                {/if}
                <option
                {if $da2[0]==$toos_val}selected{/if} value="{$da2[0]}">{$da2[1]}</option>
            {/loop}
            </select>
        </td>
        {elseif $tbara['xtype'] == 'selectNew'}
        <td width="5"></td>
        <td>
            <select {if $tbara['onchange']}onchange="{$tbara['onchange']}"{/if} temp="tbarsou{$rand}" style="width:{if
            $tbara['width']}{$tbara['width']}{else}130px{/if};{$tbara['style']}" id="{$tbara['name']}"
            {$tbara['other']}>
            {if $tbara['emptyvalue']}
            <option value="{$tbara['defaultvalue']}">{$tbara['emptyvalue']}</option>
            {/if}
            {loop $tbara['data'] $da $kda}
                <option {if $da==$toos_val}selected{/if} value="{$da}">{$kda}
                </option>
            {/loop}
            </select>
        </td>
        {elseif $tbara['xtype'] == 'searchbtn'}
        <td width="5"></td>
        <td>
            <input class="button button-sml" onclick="js.gridsou('{$rand}')" type="button" value="{$tbara['value']}"
            {$tbara['other']}>
        </td>
        {elseif $tbara['xtype'] == 'button'}
        <td width="5"></td>
        <td>
            <input class="button button-sml" onclick="{$tbara['onclick']}" type="button" value="{$tbara['value']}"
            {$tbara['other']}>
        </td>
        {elseif $tbara['xtype'] == 'checkbox'}
        <td width="5"></td>
        <td>
            <label>
                <input temp="tbarsou{$rand}" type="checkbox" onclick="{$tbara['onclick']}" id="{$tbara['name']}" {if
                $toos_val=='1'}checked{/if} type="button" value="" >{$tbara['value']}
            </label>
        </td>
        {elseif $tbara['xtype'] == 'datetime'}
        <td width="5"></td>
        <td>
            <input temp="tbarsou{$rand}" class="barinput inputdate" placeholder="{$tbara['emptyvalue']}"
                   style="width:160px" id="{$tbara['name']}" value="" {$tbara['other']}>
            <script>
                js.seldatetime(
                        "{$tbara['name']}",
                        {
                            startDate: "{$tbara['startDate']}",
                            endDate: "{$tbara['endDate']}"
                        }
                );
            </script>
        </td>
        {elseif $tbara['xtype'] == 'date'}
        <td width="5"></td>
        <td>
            {$tbara['title']}
            <input temp="tbarsou{$rand}" class="barinput inputdate" placeholder="{$tbara['emptyvalue']}"
                   style="width:100px" id="{$tbara['name']}" value="{$toos_val}" {$tbara['other']}>
            <script>js.seldate("{$tbara['name']}", {startDate: '{$tbara['startDate']}', endDate: '{$tbara['endDate']}'});</script>
        </td>
        {elseif $tbara['xtype'] == 'month'}
        <td width="5"></td>
        <td>
            <input temp="tbarsou{$rand}" class="barinput inputdate" placeholder="{$tbara['emptyvalue']}"
                   style="width:80px" id="{$tbara['name']}" value="{$toos_val}" {$tbara['other']}>
            <script>js.selmonth("{$tbara['name']}", {startDate: '{$tbara['startDate']}', endDate: '{$tbara['endDate']}'});</script>
        </td>
        {elseif $tbara['xtype'] == 'hidden'}
        <input temp="tbarsou{$rand}" type="hidden" id="{$tbara['name']}" value="{$toos_val}">
        {else}
        <td width="5"></td>
        <td>
            <input temp="tbarsou{$rand}" class="barinput" placeholder="{$tbara['emptyvalue']}"
                   style="width:{if $tbara['width']}{$tbara['width']}{else}130px{/if};{$tbara['style']}"
                   id="{$tbara['name']}" value="{$toos_val}" onkeydown="if(event.keyCode==13)js.gridsou('{$rand}')"
            {$tbara['other']}>
        </td>
        {/if}
        {else}
        <td width="5"></td>
        <td style="color:#555555">{$tbara}</td>
        {/if}
        {/loop}

        <td width="5"></td>
        <td>
            <input class="button button-sml" id="resetbtn" type="reset" value="重置 ">
        </td>
    </tr>
</table>
</form>
{/if}
<script>
    //无法通过form的reset来重置，那么可以根据下列方法
    $("#resetbtn").click(function(){
        var value= $(".barinput");
        value.each(function (data) {
           $(this).val('')//重置input表单
        });

        var value = $("select option:first").attr('selected');
        $("select option:selected").attr('selected',null);
        $("select option:first").attr('selected','selected');
        var value = $("select option:first").attr('selected');
        js.gridsou('{$rand}');//重置按钮后，再执行刷新页面。


    });
    function getUrlParam(param){
        var path= window.location.pathname;
        var arr= path.split("\/");

        if(arr.length<=3){  //从菜单栏进入分割的串只有"","controller","picture"
            return ""; //返回空字符串
        }
        var i;
        var value;
        for(i=0;i<arr.length;i++){
            if(arr[i]==param){
                value = arr[i+1];
                break;
            }
        }
        if(value==null){
            return "";//返回空字符串
        }
        if(value.indexOf("%")!=-1){
            value = value.split("%");
            return value[0];
        }else{
            return value;
        }
    }
    var startDate = getUrlParam('startDate');
    var endDate   = getUrlParam('endDate');


    $("#startDate").attr('value',startDate);
    $("#endDate").attr('value',endDate);

</script>