<tr trbool="{if !$notselect}true{/if}" dataid="{$rows['id']}" temp="treeitems_{$rand}_{$pid}">
	<td align="right">{$t}</td>
	{if $selcheck}
		<td align="center"><input class="checkbox" name="treecheck_{$rand}" value="{$rows['id']}" type="checkbox"></td>
	{/if}
	{php $i=0;}
	{php $headarr = explode(',',$headstr);}
	{php $edittablearr = explode(',',$edittable);}
	{loop $headarr $key $header}
		{php $i++;}
		<td align="{if $i==1}left{else}center{/if}" {if in_array($header,$edittablearr)}edittable="{$header}"{/if}>
		{if $i==1}
			{if $level>=2}<img src="__PUBLIC__/images/white.gif" class="icons">{/if}
			{if $level>=3}<img src="__PUBLIC__/images/white.gif" class="icons">{/if}
			{if $level>=4}<img src="__PUBLIC__/images/white.gif" class="icons">{/if}
			{if $level>=5}<img src="__PUBLIC__/images/white.gif" class="icons">{/if}
			{if $level>=6}<img src="__PUBLIC__/images/white.gif" class="icons">{/if}
			{if $level>=7}<img src="__PUBLIC__/images/white.gif" class="icons">{/if}
			{if $level>=8}<img src="__PUBLIC__/images/white.gif" class="icons">{/if}
			{if $level>=9}<img src="__PUBLIC__/images/white.gif" class="icons">{/if}
			{if $level>=10}<img src="__PUBLIC__/images/white.gif" class="icons">{/if}
			{if $rows['children']}
				<img src="__PUBLIC__/images/folder-open.gif" onclick="js.treeopenclose(this,'treeitems_{$rand}_{$pid}')" class="icons">
			{else}
				<img src="__PUBLIC__/images/leaf.gif" class="icons">
			{/if}
		{/if}
		{if $check[$header]}
			{php $aas1	= explode(',',$check[$header]);}
			{php $aas1s	= explode('|',$aas1[$rows[$header]]);}
			<font color="{$aas1s[1]}">{$aas1s[0]}</font>
		{else}
			{$rows[$header]}
		{/if}
		</td>
	{/loop}
</tr>