{php $importheader='darktooltip'}
{php $importheader='date'}
{template 'Public/header'}

<body style="padding:10px;overflow:auto" scroll="auto">
<form class="form-horizontal" name="myform">
  <div class="form-group">
    <label  class="col-sm-2 control-label">执行系统</label>
    <div class="col-sm-10">
      <select name="task_system" class="form-control"  style="width:150px">
        {loop $task_list $k $rows}
        <option value="{$k}" {if $k == $result['task_system']} selected="selected"{/if}>{$rows}</option>

        {/loop}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-2 control-label">cli名称</label>
    <div class="col-sm-10">
      <input type="text" style="width: 250px" name="cli_name" class="form-control" value="{$result['cli_name']}"  placeholder="cli名称">
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-2 control-label">执行版本</label>
    <div class="col-sm-5">
      <select name="cli_version" class="form-control"  style="width:100px">
        {loop $version $k $rows}
        <option value="{$k}" {if $k == $result['version']} selected="selected"{/if}>{$rows}</option>
        {/loop}
      </select>
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-2 control-label">cli方法</label>
    <div class="col-sm-10">
      <input type="text" style="width: 250px" name="cli_func" class="form-control" value="{$result['cli_func']}"  placeholder="cli方法">
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-2 control-label">附属参数</label>
    <div class="col-sm-10">
      <textarea  name="extra_param"  rows="4" cols="50">{$result['extra_param']}</textarea>
      <br />
      * 如果是数组 建议json_encode 后传入  各中心消费的时候再json_decode
    </div>
  </div>
  <div class="form-group">
    <label  class="col-sm-2 control-label">运行开始时间</label>
    <div class="col-sm-10">
      <input temp="tbarsou" style="width:165px" class="barinput inputdate" name = "run_start_time" placeholder=""
             id="start_time" value="{$result['run_start_time']}" />
      <script>
        js.seldatetime(
          "start_time",{
            startDate: "{php echo date('Y-m-d H:i:s')}"
          }
        );
      </script>
    </div>
  </div>

  <div class="form-group">
    <label  class="col-sm-2 control-label">运行结束时间</label>
    <div class="col-sm-10">
      <input temp="tbarsou" style="width:165px" class="barinput inputdate" placeholder=""
             id="end_time" name = "run_end_time" value="{$result['run_end_time']}"  />
      <script>
        js.seldatetime(
          "end_time"
        );
      </script>
    </div>
  </div>

  <div class="form-group">
    <label  class="col-sm-2 control-label">间隔时间</label>
    <div class="col-sm-10">
      <span style="float:left">
      <input type="text" style="width: 100px" name="interval_time" class="form-control" value="{$result['interval_time']}"  placeholder="间隔时间">
      </span>
      <span>
      &nbsp;&nbsp;&nbsp; 间隔时间为0 时为一次性任务 非0为定时循环任务
        </span>
    </div>
  </div>

  <div class="form-group">
    <label  class="col-sm-2 control-label">执行次数</label>
    <div class="col-sm-10">
      <span style="float:left">
      <input type="text" style="width: 100px" name="once_num" class="form-control" value="{$result['once_num']}"  placeholder="执行次数">
      </span>
      <span>
        &nbsp;&nbsp;&nbsp; 间隔时间*执行次数=脚本多久执行一次
      </span>
    </div>
  </div>

  <div class="form-group">
    <label  class="col-sm-2 control-label">执行IP</label>
    <div class="col-sm-10">
      <input type="text" style="width: 150px" name="allow_ip" class="form-control" value="{$result['allow_ip']}"  placeholder="执行IP">
    </div>
  </div>

  <div class="form-group">
    <label  class="col-sm-2 control-label">任务描述</label>
    <div class="col-sm-10">
      <textarea  name="content"  rows="4" cols="50">{$result['content']}</textarea>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="button" name="submitbtn" class="btn btn-default for-save" value="保 存"  />
    </div>
  </div>
  <input type="hidden"  name="id" value="{$result['id']}" class="form-control"  placeholder="">
</form>
</body>
<script type="text/javascript">
  $(document).ready(function () {

    //点击保存
    $(".for-save").click(function(){

      if (form('cli_name').value == '') {
        js.msg('danger', 'cli名称不能为空');
        form('cli_name').focus();
        return false;
      }

      if (form('cli_func').value == '') {
        js.msg('danger', 'cli方法不能为空');
        form('cli_func').focus();
        return false;
      }

      if (form('run_start_time').value == '') {
        js.msg('danger', '开始时间不能为空');

        return false;
      }

      var data	= js.getformdata();
      form('submitbtn').value = '处理中...';
      form('submitbtn').disabled=true;

      $.post('__URL__/{$type}',data,function(da){
        form('submitbtn').value = '保存';
        form('submitbtn').disabled=false;
        if(da=='success'){
          js.msg('success','保存成功');
          location.reload();
        }else{
          if(da=='')da='处理失败';
          js.msg('danger',da);
        }
      })
    });

  });

</script>
</html>