{php $importheader='date'}
{template 'Public/header'}

<body style="padding:10px;overflow:auto" scroll="auto">
<div class="stitle">
  <table width="100%" cellspacing="0" cellpadding="0">
    <tr>
      <td align="left">

        <!--工具栏的-->
        {php
        $tools[]=$tool}

        {php $tools[]=array(xtype=>'date',emptyvalue=>'开始时间',name=>'startDate',width=>'80px')}
        {php $tools[]=array(xtype=>'date',emptyvalue=>'结束时间',name=>'endDate',width=>'80px')}
        {php $tools[]=array('xtype'=>'button','value'=>'新增任务','onclick'=> 'add()')}
        {php $tools[]=array(xtype=>'searchbtn',value=>'查询')}
        {template 'Public/tools'}
      </td>
      <td align="right">
        <input class="button button-sml" id="setlie" value="设置列 ∨" type="button">	&nbsp;
      </td>
  </table>
</div>

<table cellspacing="0" width="100%" align="center" cellpadding="0">
  <tr valign="top">
    <td width="60%" align="left">
      <div class="mborder">

        <div id="userlist">

          <table width="100%" id="gridtable" class="gridtable" cellspacing="0" cellpadding="0" style="table-layout:fixed;">
            <tr style="height:30px">
              <td width="30"></td>
              <th referto="task_id">
                <div class="headtr" align="center">编号</div>
              </th>
              <th referto="task_system">
                <div class="headtr" align="center">系统</div>
              </th>
              <th referto="cli_name">
                <div class="headtr" align="center">cli名称</div>
              </th>
              <th referto="cli_version">
                <div class="headtr" align="center">version</div>
              </th>
              <th referto="cli_func">
                <div class="headtr" align="center">cli方法</div>
              </th>
              <th referto="extra_param">
                <div class="headtr" align="center">参数</div>
              </th>
              <th referto="run_start_time">
                <div class="headtr" align="center">开始时间</div>
              </th>
              <th referto="run_end_time">
                <div class="headtr" align="center">结束时间</div>
              </th>
              <th referto="interval_time">
                <div class="headtr" align="center">间隔时间</div>
              </th>
              <th referto="once_num">
                <div class="headtr" align="center">执行次数</div>
              </th>
              <th referto="allow_ip">
                <div class="headtr" align="center">执行IP</div>
              </th>
              <th referto="content">
                <div class="headtr" align="center">任务说明</div>
              </th>
              <th referto="operate">
                <div class="headtr" align="center">操作</div>
              </th>
            </tr>
            {if !empty($result) }
            {loop $result $k $rows}
            <tr trbool="true" data-id="{$rows['id']}">
              <td align="center" >{php echo $k+1;}</td>
              <td align="center">{$rows['id']}</td>
              <td align="center">{$rows['task_system']}</td>
              <td align="center">{$rows['cli_name']}</td>
              <td align="center">{$rows['cli_version']}</td>
              <td align="center">{$rows['cli_func']}</td>
              <td align="center">{$rows['extra_param']}</td>
              <td align="center">{php echo date("Y-m-d H:i:s",$rows['run_start_time']);}</td>
              <td align="center">{php if (!empty($rows['run_end_time'])){echo date("Y-m-d H:i:s",$rows['run_end_time']);}}</td>
              <td align="center">{$rows['interval_time']}</td>
              <td align="center">{$rows['once_num']}</td>
              <td align="center">{$rows['allow_ip']}</td>
              <td align="center">{$rows['content']}</td>
              <td align="center">
                <a href="javascript:void(0)" onclick="edit({$rows['id']})">修 改</a>
                &nbsp;&nbsp;
                <a href="javascript:void(0)" onclick="del({$rows['id']}, event)">删 除</a>
              </td>
            </tr>
            {/loop}
            {else}
            <tr>
              <td align="center" colspan="15">暂无记录</td>
            </tr>
            {/if}
          </table>


        </div>
      </div>
    </td>
  </tr>
</table>

{template 'Public/paging'}
</body>

</html>
<script>


  function edit(id)
  {
    addtabs({num:'edit',name:'修改任务',url:'edit,Task,id='+id});
  }

  function add()
  {
    addtabs({num:'addTask',name:'新增任务',url:'add,Task'});
  }
 function del(id, evt) {
   js.confirm('确定要删除这条任务？',function(){
     $.post('__URL__/del', {
       id         : id
     },function(data){
       if (data == 1) {
         js.msg('success', '删除成功~');
         location.reload();
       } else {
         js.msg('danger', '删除失败~');
       }
     }, 'html');
   },evt);

 }

 //参数(选填){width:100,left:0,top:0}//width下拉的宽度，left相对按钮的左边距，top，相当按钮的上边距
 $('#setlie').tablerowshow('gridtable',{width:100});
</script>

