{php $importheader='darktooltip'}
{template 'Public/header'}
<script type="text/javascript">
var bool = false;
//保存
function save()
{
	if(bool)return false
	if(form('usernamePost').value==''){
		js.msg('danger','用户名不能为空');
		form('usernamePost').focus();
		return false;
	}
	
	var pass	= form('passwordPost').value;
	var pass1	= form('password1Post').value;
	if(pass!=''){
		if(pass.length <4){
			js.msg('danger','密码不能少于4个字符');
			form('passwordPost').focus();
			return false;
		}
		if(!/[a-zA-Z]{1,}/.test(pass) || !/[0-9]{1,}/.test(pass)){
			js.msg('danger','密码必须使用字母+数字');
			form('passwordPost').focus();
			return false;
		}
		if(pass!=pass1){
			js.msg('danger','确认密码不一致');
			form('password1Post').focus();
			return false;
		}
	}
	
	if(form('namePost').value==''){
		js.msg('danger','姓名不能为空');
		form('namePost').focus();
		return false;
	}	
	if(form('genderPost').value==''){
		js.msg('danger','性别不能为空');
		form('genderPost').focus();
		return false;
	}
	var data	= js.getformdata();
	data.groupPost	= js.getchecked('groupPost[]');
	bool =true;
	form('submitbtn').value = '处理中...';
	form('submitbtn').disabled=true;
	$.post('__URL__/saveUser',data,function(da){
		bool	= false;
		form('submitbtn').value = '保存';
		form('submitbtn').disabled=false;	
		if(da=='success'){
			js.msg('success','保存成功');
			reloadtabs('user');//刷新人员选择卡
			closetabs('adduser'+form('idPost').value+'');//关闭当前选择卡
		}else{
			if(da=='')da='处理失败';
			js.msg('danger',da);
		}
	})
}
function initbody()
{
	$('#passwordPost_id').darkTooltip({gravity: 'west'});//密码提示
}
</script>
<body style="padding:10px;overflow:auto" scroll="auto">
	

		<form name="myform">
		<input type="hidden" value="{$id}" name="idPost">
		<table cellspacing="0" width="550" align="center" cellpadding="0">
		<tr>
			<td  colspan="2"><div class="stitle">登录信息</div></td>
		</tr>
		<tr>
			<td width="150" align="right" height="50"><font color=red>*</font>用户名：</td>
			<td><input style="width:250px" name="usernamePost" maxlength="50" onblur="js.str(this)" value="{$da['username']}" class="form-control"></td>
		</tr>
		
		<tr>
			<td align="right" height="50">密码：</td>
			<td><input style="width:250px" name="passwordPost" data-tooltip="密码至少4位，由字母和数组组成，区分大小写" id="passwordPost_id" type="password" class="form-control"></td>
		</tr>
		
		<tr>
			<td align="right" height="50">确认密码：</td>
			<td><input  style="width:250px" name="password1Post" type="password" class="form-control"></td>
		</tr>
		
		<tr>
			<td align="right" height="50"></td>
			<td><label><input type="checkbox" {if $da['status']==1 || $id==0}checked{/if} value="1" name="statusPost"> 启用</label></td>
		</tr>
		
		<tr>
			<td colspan="2"><div class="stitle">基本信息</div></td>
		</tr>
		
		<tr>
			<td align="right" height="50"><font color=red>*</font>姓名：</td>
			<td><input style="width:250px" name="namePost" maxlength="20"  value="{$da['name']}" class="form-control"></td>
		</tr>
		
		<tr>
			<td align="right" height="50"><font color=red>*</font>性别：</td>
			<td><select name="genderPost" class="form-control" style="width:250px">
			<option value=""></option>
			<option value="男" {if $da['gender']=='男'}selected{/if}>男</option>
			<option value="女" {if $da['gender']=='女'}selected{/if}>女</option>
			</select></td>
		</tr>
		
		<tr>
			<td align="right" height="50">电话：</td>
			<td><input style="width:250px" name="telPost" maxlength="20"  onblur="js.str(this)" value="{$da['tel']}" class="form-control"></td>
		</tr>
		
		<tr>
			<td align="right" height="50">邮箱：</td>
			<td><input style="width:250px" name="emailPost" maxlength="20"  onblur="js.str(this)" value="{$da['email']}" class="form-control"></td>
		</tr>
		
		<tr>
			
			<td colspan="2">
				<div style="padding:10px 20px">
				<table cellspacing="0" width="100%" border="0" align="center" cellpadding="0">
				<tr>
				{loop $group $key $g}
					<td width="25%" height="30" align="left"><label><input {if in_array($g['id'],$gcarr)}checked{/if} type="checkbox" value="{$g['id']}" name="groupPost[]">{$g['name']}</label></td>
					{if ($key+1)%4==0}</tr><tr>{/if}
				{/loop}
				</tr>
				</table>
				</div>
			</td>
		</tr>
		
		<tr>
		<td height="60" align="right"></td>
		<td><input class="button button-big" name="submitbtn" onclick="save()" value="保存" type="button">
		</td>
		</tr>
		
		</table>
		</form>

</body>
</html>