{template 'Public/header'}
<script type="text/javascript">
var type='{$type}';

var bool=false,mobj=false;

js.trclick=function(o){
	if(bool)return false;
	var name	= $(o).find('td:eq(1)').text();
	var url		= '__URL__/getExtent';
	var data={type:type,id:js.changeid};
	if(type=='um'||type=='view'){
		$('#menutitle').html('人员['+name+']的栏目权限');
	}
	if(type=='gm'){
		$('#menutitle').html('组['+name+']的栏目权限');
	}
	
	if(type=='uu'){
		$('#menutitle').html('人员['+name+']我分配给的权限');
	}
	
	if(type=='mu'){
		$('#usertitle').html('栏目['+name+']的人员权限');
	}	
	if(type=='mg'){
		$('#grouptitle').html('栏目['+name+']的组权限');
	}
	get('savebtn').disabled=false;
	$.post(url,data,clicktrback);
}

function clicktrback(da)
{
	bool	= false;
	var o = false;
	if(type=='um' || type=='gm' || type=='uu' || type=='uu'||type=='view'){
		o =$("input[name='"+menucc+"']");
	}
	if(type=='mu'){
		o =$("input[name='usercheckbox']");
	}
	if(type=='mg'){
		o =$("input[name='groupcheckbox']");
	}
	for(var i=0;i<o.length;i++){
		o[i].checked=false;
		if(da.indexOf('['+o[i].value+']')>=0)o[i].checked=true;
	}
}

//保存
function save()
{
	if(bool||js.changeid==0||type=='view')return false;
	
	var data={type:type,id:js.changeid};
	var cha = ['0'],o=[];
	var name = '';
	if(type=='um'||type=='gm'||type=='uu'){
		name = menucc;
	}

	if(type=='mu'){
		name= 'usercheckbox';
		o =$("input[name='usercheckbox']");
	}
	if(type=='mg'){
		name= 'groupcheckbox';
		o =$("input[name='groupcheckbox']");
	}

	data.checkAId	= js.getchecked(name);
	var url	= '__URL__/saveExtent';
	bool	= true;
	get('savebtn').disabled=true;
	$.post(url,data,function(da){
		if(da!='success'){
			js.msg('danger',da);
		}else{
			js.msg('success','保存成功');
		}
		bool	= false;
	})
}
</script>
<body style="padding:10px;overflow:auto" scroll="auto">

	<div align="left" style="margin-bottom:10px{if $type=='view'};display:none{/if}"><input class="button button-big" id="savebtn" onclick="save()" disabled value="保存设置" type="button"></div>
	
	<table cellspacing="0" width="100%" align="center" cellpadding="0">
	<tr valign="top">
		<td width="{if $type=='um'||$type=='uu'||$type=='gm'||$type=='view'}30{else}60{/if}%" align="left">
		
		{if $type=='um'||$type=='view'||$type=='uu'}
		<div class="xtborder">
		  <div class="xttitle">人员列表</div>
			  <div id="userlist">
			  
			<table width="100%" class="gridtable" cellspacing="0" cellpadding="0">
			<tr style="height:30px">
                <th><div class="headtr" align="center">ID</div></th>
				<th><div class="headtr" align="center">姓名</div></th>
				<th><div class="headtr" align="center">用户名</div></th>
			</tr>
			
				{loop $userArr $k $rows}
				<tr trbool="true" dataid="{$rows['id']}">
                    <td align="center">{$rows['id']}</td>
					<td align="center">{$rows['name']}</td>
					<td align="center">{$rows['username']}</td>
				</tr>
				{/loop}
			
			</table>
				
				
			 </div>	
		</div> 
		{/if}
		
		{if $type=='gm'}
		<div class="xtborder">
		  <div class="xttitle">组列表</div>
			  <div id="grouplist">
					<table width="100%" class="gridtable" cellspacing="0" cellpadding="0">
					<tr style="height:30px">
						<td width="30"></td>
						
						<th><div class="headtr" align="center">组名</div></th>
						<th><div class="headtr" align="center">权限验证</div></th>
						<th><div class="headtr" align="center">ID</div></th>
					</tr>
					
					{loop $grouparr $k $rows}
					<tr trbool="true" dataid="{$rows['id']}">
						<td align="right">{php echo($k+1)}</td>
						
						<td align="center">{$rows['name']}</td>
						<td align="center">
						{if $rows['ispir'] == 1}
						<font color="green">√</font>
						{else}
						<font color="red">×</font>
						{/if}
						</td>
						<td align="center">{$rows['id']}</td>
					</tr>
					{/loop}
					</table>
			</div>	
		</div> 
		{/if}

		
			{if $type=='mu' || $type=='mg'}
			<div class="xtborder">
				<div class="xttitle">栏目菜单列表</div>
				  <div id="menulist">

						{php $rand = rand(100,999);}
						<table width="100%" id="treetable_{$rand}" class="treetable" cellspacing="0" cellpadding="0">
						<tr style="height:30px">
							<td width="30"></td>
							<th><div class="headtr" align="center">栏目名称</div></th>
							<th><div class="headtr" align="center">编号</div></th>
							<th><div class="headtr" align="center">链接地址</div></th>
							<th><div class="headtr" align="center">ID</div></th>
							<th><div class="headtr" align="center">PID</div></th>
							<th><div class="headtr" align="center">显示</div></th>
							<th><div class="headtr" align="center">验证</div></th>
						</tr>
						{php $headstr = 'name,num,url,id,pid,status,ispir';}
						{php $checkstr = '×|red,√|green';$check['status']=$checkstr;$check['ispir']=$checkstr;}
						{template 'Public/treetable'}
						
							
						</table>				  
				  
				  
				  
				  
				</div>	
			</div>	
			{/if}		
		
		
		
		</td>
		<td width="15" nowrap></td>
		<td  align="left">
		
			{if $type=='um'||$type=='gm'||$type=='view'||$type=='uu'}
			<div class="xtborder">
				<div class="xttitle" id="menutitle">栏目菜单列表</div>
				  <div>
				
						{php $rand = rand(100,999);}
						<table width="100%" id="treetable_{$rand}" class="treetable" cellspacing="0" cellpadding="0">
						<tr style="height:30px">
							<td width="30"></td>
							<th nowrap><div class="headtr" align="center"><input {if $type=='view'}disabled{/if} onclick="js.sellall(this,'treecheck_{$rand}')" class ="checkbox" type="checkbox"></th>
							<th><div class="headtr" align="center">栏目名称</div></th>
							<th><div class="headtr" align="center">编号</div></th>
							<th><div class="headtr" align="center">链接地址</div></th>
							<th><div class="headtr" align="center">ID</div></th>
							<th><div class="headtr" align="center">PID</div></th>
							<th><div class="headtr" align="center">显示</div></th>
							<th><div class="headtr" align="center">验证</div></th>
						</tr>
						{php $selcheck = true;$notselect=true;}
						
						{php $headstr = 'name,num,url,id,pid,status,ispir';}
						{php $checkstr = '×|red,√|green';$check['status']=$checkstr;$check['ispir']=$checkstr;}
						{template 'Public/treetable'}
						
							
						</table>
				
				
				  </div>
			</div>	
			{/if}
			
			
		{if $type=='mu'}
		<div class="xtborder">
			<div class="xttitle" id="usertitle">人员列表</div>
			  <div>

			<table width="100%" class="gridtable" cellspacing="0" cellpadding="0">
			<tr style="height:30px">
				<td width="30"></td>
				<th><div class="headtr" align="center"><input onclick="js.sellall(this,'usercheckbox')" class ="checkbox" type="checkbox"></th>
				<th><div class="headtr" align="center">ID</div></th>
				<th><div class="headtr" align="center">用户名</div></th>
				<th><div class="headtr" align="center">姓名</div></th>
			</tr>
				{loop $userArr $k $rows}
				<tr trbool="" dataid="{$rows['id']}">
					<td align="right">{php echo($k+1)}</td>
					<td align="center"><input name="usercheckbox" value="{$rows['id']}" class ="checkbox" type="checkbox"></td>
					<td align="center">{$rows['id']}</td>
					<td align="center">{$rows['username']}</td>
					<td align="center">{$rows['name']}</td>
				</tr>
				{/loop}
			
			</table>			  
			
			</div>	
		</div> 
		{/if}

		{if $type=='mg'}
		<div class="xtborder">
			<div class="xttitle" id="grouptitle">组列表</div>
			  <div>
				<table width="100%" class="gridtable" cellspacing="0" cellpadding="0">
				<tr style="height:30px">
					<td width="30"></td>
					<th><div class="headtr" align="center"><input onclick="js.sellall(this,'groupcheckbox')" class ="checkbox" type="checkbox"></th>
					<th><div class="headtr" align="center">ID</div></th>
					<th><div class="headtr" align="center">组名</div></th>
					<th><div class="headtr" align="center">权限验证</div></th>
				</tr>
				
				{loop $grouparr $k $rows}
				<tr dataid="{$rows['id']}">
					<td align="right">{php echo($k+1)}</td>
					<td align="center"><input name="groupcheckbox" value="{$rows['id']}" class ="checkbox" type="checkbox"></td>
					<td align="center">{$rows['id']}</td>
					<td align="center">{$rows['name']}</td>
					<td align="center">
					{if $rows['ispir'] == 1}
					<font color="green">√</font>
					{else}
					<font color="red">×</font>
					{/if}
					</td>
				</tr>
				{/loop}
				</table>
			</div>	
		</div> 
		{/if}	
	
		
		</td>
	</tr>
	</table>
<script type="text/javascript">
var menucc = 'treecheck_{$rand}';
</script>
</body>
</html>