{template 'Public/header'}
<script type="text/javascript">
var bool = false;
//菜单保存
function save()
{
	if(bool)return false;
	if(document.myform.namePost.value==''){
		js.msg('danger','组名不能为空');
		document.myform.namePost.focus();
		return false;
	}
	get('submitbtn').disabled=true;
	var data	= js.getformdata();
	bool	= true;
	var url	= '__URL__/groupsave';
	$.post(url,data,function(da){
		if(da=='success'){
			js.msg('success',''+get('submitbtn').value+'成功');
			location.reload();
		}else{
			if(da=='')da='处理失败';
			bool	= false;
			get('submitbtn').disabled=false;
			js.msg('danger',da);
		}
	})
}



//新增下级
function clickadddown()
{
	if(bool)return false;
	$('#submitbtn').val('新增组');
	get('submitbtn').disabled=false;
	document.myform.reset();
	document.myform.idPost.value	= '0';
	document.myform.namePost.focus();
}

//编辑
function clickedit()
{
	if(js.changeid==0)js.msg('danger','没有选中行记录');
	if(js.changeid==0||bool)return false;
	bool	= true;
	get('submitbtn').disabled=true;
	document.myform.reset();
	$.get('__URL__/groupgetinfor/id/'+js.changeid,function(da){
		var arr	= js.decode(da);
		for(var a in arr){
			var oba	= document.myform[''+a+'Post'];
			var val	= arr[a];
			if(val==null)val='';
			if(oba)oba.value= val;
		}
		document.myform.ispirPost.checked=(arr.ispir==1)?true:false;
		$('#submitbtn').val('编辑');
		get('submitbtn').disabled=false;
		document.myform.namePost.focus();
		bool=false;
	});
}

//删除
function clickdel(event)
{
	if(js.changeid==0)js.msg('danger','没有选中行记录');
	if(js.changeid==0||bool)return false;
	js.confirm('确定要删除选中的组吗？',"clickdelok('"+js.changeid+"')",event);
	return false;
}
function clickdelok(aid)
{
	bool	= true;
	$.get('__URL__/groupdel/id/'+aid,function(da){
		if(da=='success'){
			location.reload();
			js.msg('success','删除成功');
		}else{
			js.msg('danger',da);
			bool= false;
		}
	})
}

function initbody(){
	$('#gridtable_262').edittable({
		table:'dept',
		data:{
			ispir:{xtype:'checkbox',label:'验证',display:['×','√'],displaycolor:['red','green']}
		}
	});
}
</script>
<body style="padding:10px;overflow:auto" scroll="auto">
	
		<table width="100%" cellspacing="0" cellpadding="0">
		<tr valign="top">
		<td>
		

		
		
		
<div class="mborder">
	
	<!--工具栏的-->
	<div class="stitle">
		<table width="100%" cellspacing="0" cellpadding="0">
		<tr><td align="left">
		
		<table id="tools_678" border="0" cellspacing="0" cellpadding="0" height="34">
		<tr>
			<td width="5"></td>
			<td><input temp="tbarsou678" class="barinput" placeholder="id" style="width:40px;" id="param1_id" value="{$_REQUEST['param1_id']}"></td>
			
			<td width="5"></td>
			<td><input temp="tbarsou678" class="barinput" placeholder="组名" style="width:130px;" id="param0_name" value="{$_REQUEST['param0_name']}" ></td>
			
			<td width="5"></td>
			<td>
				<select temp="tbarsou678" style="width:80px;" id="param1_ispir">
				<option value="">权限验证</option>
				<option  value="1" {if $_REQUEST['param1_ispir']=='1'}selected{/if}>验证</option>
				<option  value="0" {if $_REQUEST['param1_ispir']=='0'}selected{/if}>不验证</option>
				</select>
			</td>
			
			<td width="5"></td>
			<td><input class="button button-sml" onclick="js.gridsou('678')" type="button" value="查询"></td>
		
		</tr>
		</table>
		
		</td>
		<td align="right">
	
		<input class="button button-sml" value="新增组"  onclick="clickadddown(0)" type="button">&nbsp; 
		<input class="button button-sml" value="编辑" type="button" onclick="clickedit()">&nbsp; 
		<input class="button button-sml" onclick="clickdel(event)" value="删除" type="button">	&nbsp; 

		
		</td>
		</tr>
		</table>
	</div>
	
	
	<table width="100%" id="gridtable_262" class="gridtable" cellspacing="0" cellpadding="0">
	<tr style="height:30px">
		<td width="30"></td>
		<th><div class="headtr" align="center" sortable="true_id">ID</div></th>
		<th><div class="headtr" align="center" sortable="true_name">组名</div></th>
		<th><div class="headtr" align="center" sortable="true_ispir">权限验证</div></th>
	</tr>
	
	{loop $grid['rows'] $k $rows}
	<tr trbool="true" dataid="{$rows['id']}">
		<td align="right">{php echo($k+1)}</td>
		<td align="center">{$rows['id']}</td>
		<td align="center" edittable="name">{$rows['name']}</td>
		<td align="center" edittable="ispir">
		{if $rows['ispir'] == 1}
		<font color="green">√</font>
		{else}
		<font color="red">×</font>
		{/if}
		</td>
	</tr>
	{/loop}
	</table>

</div>

{template 'Public/paging'}	
		
		
		
		
		
		
		
		
		</td>
		<td width="15"></td>
		<td width="380">
			
		 <div class="xtborder">
		  <div class="xttitle">详情</div>
		  <div class="xtbody" align="left">
				<form name="myform">
				<table width="100%" cellspacing="0" cellpadding="0">
				<tr>
				<td width="100" height="50" align="right"><font color=red>*</font>组名&nbsp;</td>
				<td>
				<input type="text" name="namePost" class="form-control">
				<input type="hidden" name="idPost" value="0">
				</td>
				</tr>
				
				<tr>
				<td align="right" height="50">排序号&nbsp;</td>
				<td><input type="number" value="0" min="0" name="sortPost" maxLength="3" class="form-control"></td>
				</tr>
				
			
				
				<tr>
				<td align="right" height="50"></td>
				<td><input type="checkbox" value="1" name="ispirPost" checked>权限验证</td>
				</tr>

				
				
				<tr>
				<td height="70" align="right"></td>
				<td><input class="button button-big" id="submitbtn" onclick="save()" disabled value="保 存" type="button">
				</td>
				</tr>
				
				</table>
				</form>
		  </div>
		</div>
			
			
			
		</td>
		</tr>
		</table>


</body>
</html>