    {template 'Public/header'}
<script type="text/javascript">
var bool = false;

//菜单保存
function saveMenu()
{
	if(bool)return false;
	if(document.myform.namePost.value==''){
		js.msg('danger','栏目名称不能为空');
		document.myform.namePost.focus();
		return false;
	}
	get('submitbtn').disabled=true;
	var data	= js.getformdata();
	bool	= true;
	var url	= '__URL__/saveMenu';
	$.post(url,data,function(da){
		if(da=='success'){
			js.msg('success',''+get('submitbtn').value+'成功');
			location.reload();
		}else{
			if(da=='')da='处理失败';
			bool	= false;
			get('submitbtn').disabled=false;
			js.msg('danger',da);
		}
	})
    return true
}

//新增
function addClick(lx)
{
	if(bool)return false;
	$('#submitbtn').val('新增顶级');
	document.myform.reset();
	get('submitbtn').disabled=false;
	document.myform.pidPost.value	= '0'
	document.myform.idPost.value	= '0';
	document.myform.namePost.focus();
    return true;
}

//新增下级
function addClickEnsure()
{
	if(js.changeid==0)js.msg('danger','没有选中行记录');
	if(js.changeid==0||bool)return false;
	$('#submitbtn').val('新增下级');
	get('submitbtn').disabled=false;
	document.myform.reset();
	document.myform.pidPost.value	= js.changeid
	document.myform.idPost.value	= '0';
	document.myform.namePost.focus();
    return true;
}

//编辑
function editClick()
{
	if(js.changeid==0)js.msg('danger','没有选中行记录');
	if(js.changeid==0||bool)return false;
	bool	= true;
	get('submitbtn').disabled=true;
	document.myform.reset();
	$.get('__URL__/getMenuInfo/id/'+js.changeid, function(da){
		var arr	= js.decode(da);
		for(var a in arr){
			var oba	= document.myform[''+a+'Post'];
			var val	= arr[a];
			if(val==null)val='';
			if(oba)oba.value= val;
		}
		document.myform.statusPost.checked=(arr.status==1)?true:false;
		document.myform.ispirPost.checked=(arr.ispir==1)?true:false;
		$('#submitbtn').val('编辑');
		get('submitbtn').disabled=false;
		document.myform.namePost.focus();
		bool=false;
	});
    return true;
}

//删除
function delClick(event)
{
	if(js.changeid==0)js.msg('danger','没有选中行记录');
	if(js.changeid==0||bool)return false;
	js.confirm('确定要删除选中的栏目吗？',function(){
        delClickEnsure(js.changeid);
	},event);
	return false;
}
function delClickEnsure(aid)
{
	bool	= true;
	$.get('__URL__/delMenu/id/'+aid, function(da){
		if(da=='success'){
			location.reload();
			js.msg('success','删除成功');
		}else{
			js.msg('danger',da);
			bool= false;
		}
	})
}

function initbody()
{
	$('#urlPost_id').tooltip();
	
	
	//初始化表格编辑
	$('#treetable_456').edittable({
		table:'menu',	//自动保存到对应的表格上
		data:{
			status:{xtype:'checkbox',label:'显示',display:['×','√'],displaycolor:['red','green']},
			ispir:{xtype:'checkbox',label:'验证',display:['×','√'],displaycolor:['red','green']}
		}
	});
}
</script>
<body style="padding:10px;overflow:auto" scroll="auto">
	
		<table width="100%" cellspacing="0" cellpadding="0">
		<tr valign="top">
		<td>
		
		<table width="100%" cellspacing="0" cellpadding="0">
		<tr>
		<td><input class="button" value="＋ 新增顶级栏目" onclick="addClick(0)" type="button">
		</td>
		<td align="right"><input class="button" value="新增下级"  onclick="addClickEnsure(0)" type="button">&nbsp; <input class="button" value="编辑" type="button" onclick="editClick()">&nbsp; <input class="button" onclick="delClick(event)" value="删除" type="button"></td>
		</tr>
		</table>
		
		
		<div class="blank10"></div>
	
	<div class="mborder">
	{php $rand = '456';}
	<table width="100%" id="treetable_{$rand}" class="treetable" cellspacing="0" cellpadding="0">
	<tr style="height:30px">
		<td width="30"></td>
		<th><div class="headtr" align="center">栏目名称</div></th>
		<th><div class="headtr" align="center">编号</div></th>
		<th><div class="headtr" align="center">图标</div></th>
		<th><div class="headtr" align="center">链接地址</div></th>
		<th><div class="headtr" align="center">ID</div></th>
		<th><div class="headtr" align="center">PID</div></th>
		<th><div class="headtr" align="center">显示</div></th>
		<th><div class="headtr" align="center">验证</div></th>
		<th><div class="headtr" align="center">排序</div></th>
	</tr>
	
	{php $headstr = 'name,num,icons,url,id,pid,status,ispir,sort';}
	{php $edittable = 'num,icons,url,status,ispir,sort,name';}
	{php $checkstr = '×|red,√|green';$check['status']=$checkstr;$check['ispir']=$checkstr;}
	{template 'Public/treetable'}
	
		
	</table>
</div>
	
		</td>
		<td width="15"></td>
		<td width="330">
			
		 <div class="xtborder">
		  <div class="xttitle">详情</div>
		  <div class="xtbody" align="left">
				<form name="myform">
				<table width="100%" cellspacing="0" cellpadding="0">
				
				<tr>
				<td width="80" height="50" align="right">编号&nbsp;</td>
				<td>
				<input type="text" name="numPost" class="form-control" placeholder="如：menu">
				<input type="hidden" name="idPost" value="0">
				</td>
				</tr>
				
				<tr>
				<td align="right" height="50">上级栏目ID&nbsp;</td>
				<td><input type="number" value="0" min="0" name="pidPost" maxLength="8" class="form-control"></td>
				</tr>
				
				<tr>
				<td align="right" height="50"><font color=red>*</font>栏目名称&nbsp;</td>
				<td><input type="text" name="namePost" class="form-control"></td>
				</tr>
				
				<tr>
				<td align="right" height="50">链接地址&nbsp;</td>
				<td><input type="text" name="urlPost" id="urlPost_id" class="form-control" title="格式如：方法,控制器,参数(menu,system)
				参数：type=，方便权限验证" placeholder="如：menu,system"></td>
				</tr>
				
				<tr>
				<td align="right" height="50">图标&nbsp;</td>
				<td><input type="text" name="iconsPost" class="form-control" placeholder="如：folderIcon"></td>
				</tr>
				
				<tr>
				<td align="right" height="50">排序号&nbsp;</td>
				<td><input type="number" value="0" min="0" name="sortPost" maxLength="3" class="form-control"></td>
				</tr>
				
				<tr>
				<td align="right" height="50">颜色&nbsp;</td>
				<td><input name="colorPost" class="form-control" maxLength="7"  placeholder="如：ff0000，是红色"></td>
				</tr>
				
				<tr>
				<td align="right" height="50"></td>
				<td><label><input type="checkbox" name="statusPost" value="1" checked>显示</label>&nbsp; &nbsp;<label><input type="checkbox" value="1" name="ispirPost" checked>权限验证</label></td>
				</tr>
				
				<tr>
				<td height="70" align="right"></td>
				<td>
				
				<input class="button button-big" id="submitbtn" onclick="saveMenu()" disabled value="保 存" type="button">
				</td>
				</tr>
				</table>
				</form>
		  </div>
		</div>
			
			
			
		</td>
		</tr>
		</table>


</body>
</html>