{template 'Public/header'}
<script type="text/javascript">
var color= '{$adminstyle}';
var bool = false;
function changeradio(col)
{
	if(bool)return;
	bool	= true;
	var url	= '__URL__/changecolor/color/'+col+'/rand/'+Math.random()+'';
	color	= col;
	$.get(url,function(da){
		var cssa	= '__PUBLIC__/css/style'+col+'.css?rnd='+Math.random()+'';
		get('mainstyle').href=cssa;
		parent.get('mainstyle').href=cssa;
		bool=false;
	});
}
function save()
{
	if(bool)return;
	bool	= true;
	var url	= '__URL__/saveStyle/color/'+color+'/rand/'+Math.random()+'';
	$.get(url,function(da){
		js.msg('success','保存成功');
		bool=false;
	});
}
</script>
<body style="padding:10px;overflow:auto" scroll="auto">
	
<div align="center">
	<form name="myform">
	<input name="stylePost" type="hidden" value="<?=$xtone->adminstyle?>">
	<table cellspacing="0"  align="center" cellpadding="0">
	<tr>
	{php $arr=array('000000','E51400','F8A31F','339933','A05000','368ee0','8cbf26','00aba9','ff0097','e671b8','a200ff','333333','204e81','e63a3a','666666','2c5e7b','56af45')}
	{loop $arr $k $col}
		<td align="center" style="padding:10px"><label>
		<div style="height:40px;width:40px;overflow:hidden;background-color:#{$col}"></div>
		<div><input class="radio" name="radioname" {if $adminstyle==$col}checked{/if} onclick="changeradio('{$col}')" type="radio"></label></div>
		</td>
		{if ($k+1)%9==0}</tr><tr>{/if}
	{/loop}
	</tr>
	</table>
	<div style="margin-top:15px"><input class="button button-big" name="submitbtn" onclick="save()" value="保存修改" type="button"></div>
	</form>
</div>
</body>
</html>