{php $importheader='bootcharts,highcharts'}
{template 'Public/header'}
<script type="text/javascript">
var bool = false;
//编辑
function clickEdit()
{
	if(js.changeid==0)js.msg('danger','没有选中行记录');
	if(js.changeid==0)return false;
	adduser(js.changeid);
}

//修改头像
function faceEdit()
{
	if(js.changeid==0)js.msg('danger','没有选中行记录');
	if(js.changeid==0)return false;
	var id	= js.changeid;
	addtabs({num:'editface'+id+'',id:'',name:'修改头像',url:'face,system,id='+id+''});
}

//删除
function clickDel(event)
{
	if(js.changeid==0)js.msg('danger','没有选中行记录');
	if(js.changeid==0||bool)return false;
	js.confirm('确定要删除选中的人员吗？',"clickDelEnsure('"+js.changeid+"')",event);
	return false;
}

function clickDelEnsure(aid)
{
	bool	= true;
	$.get('__URL__/delUser/id/'+aid,function(da){
		if(da=='success'){
			location.reload();
			js.msg('success','删除成功');
		}else{
			js.msg('danger',da);
			bool= false;
		}
	})
}


function adduser(id)
{
	var na	= '新增人员';
	if(id!=0)na='编辑人员';
	addtabs({num:'addUser'+id+'',name:na,url:'editUser,system,id='+id+''});//新增选择卡带上menuid
}

var nalabels = [];
var nadata	 = [];
{loop $grid $k $rows}
nadata.push({$rows['login_num']});
nalabels.push('{$rows['name']}');
{/loop}

function chartsAnalyse()
{
	js.tanbody('show','登录分析',500,300,{html:'<div  id="myChart" style="height:280px;"></div>'});
	//var ctx = parent.get("myChart").getContext("2d");
	var options	= {
        chart: {
            type: 'column'
        },
        title: {
            text: '登录分析'
        },
        subtitle: {
            text: ''
        },
        xAxis: {
            categories: nalabels
        },
        yAxis: {
            min: 0,
            title: {
                text: '登录次数'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
            pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                '<td style="padding:0"><b>{point.y:.0f}</b></td></tr>',
            footerFormat: '</table>',
            shared: true,
            useHTML: true
        },
        plotOptions: {
            column: {
                pointPadding: 0.2,
                borderWidth: 0
            }
        },
        series: [{
            name: '次数',
            data: nadata

        }]
    };
	$(parent.get('myChart')).highcharts(options);	
	/*
	var data = {
		labels : nalabels,//横坐标标题
		datasets : [
			{
				fillColor : "rgba(151,187,205,0.5)",
				strokeColor : "rgba(151,187,205,1)",
				pointStrokeColor : "#fff",
				data : nadata
			}
		]
	}

	new Chart(ctx)['Bar'](data);//Line Bar*/
}


function initbody(){

	//设置列初始话，setlie按钮id，gridtable_262对应表格id，表头必须设置列名称 如<th referto="id">等属性
	//参数(选填){width:100,left:0,top:0}//width下拉的宽度，left相对按钮的左边距，top，相当按钮的上边距
	$('#setlie').tablerowshow('gridtable_262',{width:100});
	
	//初始化表格编辑
	$('#gridtable_262').edittable({
		table:'xy_admin',	//自动保存到对应的表格上
		data:{
			name:{xtype:'text'},//编辑文本框类型
			gender:{xtype:'select',store:['男','女']},//下拉框
			status:{xtype:'checkbox',label:'启用',display:['×','√'],displaycolor:['red','green']}//单个多选框
		}
	});
	//同时在表格的单元格上添加属性edittable="字段名",data下的键值为字段名
}
</script>
<body  style="padding:10px;overflow:auto" scroll="auto">




<!--人员表格列输出  -->
<div class="mborder">
	
	
	<div class="stitle">
		<table width="100%" cellspacing="0" cellpadding="0">
		<tr>
			<td align="left">
				
				<!--工具栏的-->
				{php $tools[]=array(emptyvalue=>'ID',name=>'param1_id',width=>'40px')}
				{php $tools[]=array(emptyvalue=>'姓名',name=>'param0_name')}
				{php $tools[]=array(emptyvalue=>'电话',name=>'param0_tel')}
				{php $tools[]=array(xtype=>'select',name=>'param1_status',data=>array(array('','所有状态'),array('1','启用'),array('0','停用')))}
				{php $tools[]=array(xtype=>'searchbtn',value=>'查询')}
				{template 'Public/tools'}
				
			</td>
			<td align="right">
				<input class="button button-sml" id="setlie" value="设置列 ∨" type="button">	&nbsp; 
				<input class="button button-sml" value="登录分析" onclick="chartsAnalyse()" type="button">&nbsp; 
				<input class="button button-sml" value="新增人员" onclick="adduser(0)" type="button">&nbsp; 
				<input class="button button-sml" value="编辑" type="button" onclick="clickEdit()">&nbsp; 
				<input class="button button-sml" onclick="clickDel(event)" value="删除" type="button">	&nbsp; 
				
			</td>
		</tr>
		</table>
	</div>

	<!--判断列是隐藏还是显示-->
	
	<table width="100%" id="gridtable_262" class="gridtable" cellspacing="0" cellpadding="0">

	<tr style="height:30px">
		<td width="30"></td>
		<th referto="id" {if in_array('id', $gridRow)}style="display:none"{/if}><div class="headtr" align="center" sortable="true_id">ID</div></th>
		<th referto="username" {if in_array('username', $gridRow)}style="display:none"{/if}><div class="headtr" align="center" sortable="true_username">用户名</div></th>
		<th referto="name" {if in_array('name', $gridRow)}style="display:none"{/if}><div class="headtr" align="center" sortable="true_name">姓名</div></th>
		<th referto="status" {if in_array('status', $gridRow)}style="display:none"{/if}><div class="headtr" align="center" sortable="true_status">状态</div></th>
		<th referto="gender" {if in_array('gender', $gridRow)}style="display:none"{/if}><div class="headtr" align="center" sortable="true_gender">性别</div></th>
		<th referto="email" {if in_array('email', $gridRow)}style="display:none"{/if}><div class="headtr" align="center" sortable="true_email">邮箱</div></th>
		<th referto="tel" {if in_array('tel', $gridRow)}style="display:none"{/if}><div class="headtr" align="center" sortable="true_tel">电话</div></th>
		<th referto="loginci" {if in_array('login_num', $gridRow)}style="display:none"{/if}><div class="headtr" align="center" sortable="true_loginci">登录次数</div></th>
	</tr>
	
	{loop $grid $k $rows}
	<tr trbool="true" dataid="{$rows['id']}">
		<td align="right">{php echo($k+1)}</td>
		<td align="center" {if in_array('id', $gridRow)}style="display:none"{/if}>{$rows['id']}</td>
		<td align="center" {if in_array('username', $gridRow)}style="display:none"{/if}>{$rows['username']}</td>
		<td align="center" {if in_array('name', $gridRow)}style="display:none"{/if} edittable="name">{$rows['name']}</td>
		<td align="center" {if in_array('status', $gridRow)}style="display:none"{/if} edittable="status">
		{if $rows['status'] == 1}
		<font color="green">√</font>
		{else}
		<font color="red">×</font>
		{/if}
		</td>
		<td align="center" {if in_array('gender', $gridRow)}style="display:none"{/if}  edittable="gender">{$rows['gender']}</td>
		<td align="center" {if in_array('email', $gridRow)}style="display:none"{/if}  edittable="email">{$rows['email']}</td>
		<td align="center" {if in_array('tel', $gridRow)}style="display:none"{/if}  edittable="tel">{$rows['tel']}</td>
		<td align="center" {if in_array('login_num', $gridRow)}style="display:none"{/if}>{$rows['login_num']}</td>
	</tr>
	{/loop}
	
	


</table>

</div>

{template 'Public/paging'}	




</body>
</html>