.toolsicons{margin:2px 3px;width:20px;height:20px;cursor:pointer;border:1px #eeeeee solid;padding:1px}
.toolsicons_over{border:1px #888888 solid}
.toolsplit{margin:2px 4px;width:1px;height:16px;background:#cccccc}
.showmenuys{background-color:#f5f5f5; border:#CCCCCC 1px solid;position:absolute; z-index:601;box-shadow: 5px 5px 5px #dddddd;}
.showmenuys div{ border-bottom:1px #eeeeee solid; padding:2px 3px; cursor:pointer}
.showmenuys ul{list-style-type:none;margin:0px}
.showmenuys ul li{list-style-type:none;padding:0px;}
.showmenuys li{ float:left; width:13px; height:13px; margin:3px;  cursor:pointer; text-align:center}
.showmenuys li.liys1{width:20px; height:20px;padding:2px;margin:1px;}
.showmenuys .divys1{background-color:RoyalBlue; color:#ffffff;}