{template 'Public/header'}

<body style="padding:10px;overflow:auto" scroll="auto">


<div style="padding:10px" align="left">
<table border="0" cellspacing="0" cellpadding="0">
  <tr valign="top">
    <td style="padding:10px" width="250">

	 <div class="xtborder">
		  <div class="xttitle">系统统计</div>
		  <div class="xtbody" style="line-height:30px" align="left">
		 PHP版本：<?=PHP_VERSION?><br> 
		 MYSQL版本：{php echo mysql_get_server_info()}<br>
		</div>
	</div>
	
    </td>
	<td style="padding:10px">
	</td>
  </tr>
  
   <tr valign="top">
    <td style="padding:10px" align="left" colspan="2">
<div style="margin-top:2px; font-size:40px;line-height:70px">
Hi，{php echo $_SESSION[$GLOBALS['X_G']['website']['projectEnName'].'adminName']}，欢迎回来<br>
欢迎使用：{$GLOBALS['X_G']["website"]["name"]}
</div> 
    
    </td>
  </tr>
</table>
</div>
</body>
</html>