{php $nothtml5=true}
{template 'Public/header'}
<body>
<style type="text/css">
    *, a:hover {
        TEXT-DECORATION: none;
    }
</style>
<script type="text/javascript">
var xtindex = {
    bool: false,
    menuarr: [],
    devname: '系统菜单',//默认名称
    init: function () {
        //this.setheight();
        //单击第一个头部导航页面
        var tempid = $('#menutop0').attr('tempid');
        this.getmenu(tempid, get('menutop0'));
        tabs.addhome()			//添加首页选择卡
        $(window).resize(this.setheight);
        this.shownow();
    },

    //重新设置窗口大小
    setheight: function () {
        tabs.setrwidht();
    },
    shownow: function () {
        $('#nowtimespan').html(js.now('Y年m月d日 H:i:s [星期W]'));
        setTimeout('xtindex.shownow()', 1000);
    },
    getmenu: function (pid, o) {
        if (this.bool)return false;
        this.bool = true;
        $('#page-menu').html('<div style="padding-top:100px" align="center"><img align="absmiddle" src="' + PUBLIC + 'images/mloading.gif">&nbsp;加载中...</div>');
        var url = '__URL__/getmenu/pid/' + pid;
        $.get(url, function (da) {
            xtindex.menushow(da);
        });
        if (typeof(o) == 'object') {
            this.homechang(o);
            var va = strreplace($(o).text());
            if (va == '首页')va = this.devname;
            $('#page-menu-top').html(va);
        } else {
            $('#page-menu-top').html(o);
        }
        return false;
    },

    homechang: function (o) {
        $("#topMenu a").removeClass();
        $(o).addClass('active');
    },

    menushow: function (da) {
        var arr = js.decode(da);
        this.menuarr = arr;
        this.bool = false;
        var objm = $('#page-menu');
        objm.html('');
        var len = arr.length;

        for (var i = 0; i < len; i++) {
            var st = arr[i].total;
            var icona = arr[i].icons, icons = '', color = arr[i].color;
            var s = '<a';
            if (st > 0) {
                s += ' onclick="return xtindex.menuover(' + i + ',this)"';
                icons = 'files';
            } else {
                s += ' onclick="return xtindex.menuclick(' + i + ',-1,this)"';
                icons = 'file';
            }
            if (icona != null && icona != '')icons = icona;//图标
            if (color == null || !color)color = '';
            if (i + 1 == len)s += ' style="border:none" ';//最后一个不要有下划线
            this.menuarr[i].icons = icons;

            s += ' ><img src="' + PUBLIC + 'images/icons/' + icons + '.png" class="icons"><span style="color:' + color + '">' + arr[i].name + '</span>';
            if (st > 0)s += '<font><img src="' + PUBLIC + 'images/icons/rightjta.png"></font>';
            s += '</a>';
            objm.append(s);
        }
    },

    menuclick: function (oi, oj, o) {
        setTimeout(function () {
            $("span[temp='menuchild']").remove()
        }, 20);
        var arr = this.menuarr[oi];
        if (oj != -1)arr = arr.children[oj];
        var type = arr.type;//1open方式,2挑战,3js处理
        if (type == 2) {
            //alert(arr.url)
            location.href = arr.url;
        } else if (type == 3) {

        } else {
            tabs.add(arr);
        }
        return false;
    },

    menuover: function (oi, o) {
        $("span[temp='menuchild']").remove();
        this.hidebool = false;
        var arr = this.menuarr[oi];
        var narr = arr.children;
        var obj = $(o);
        var w = obj.width() + 20, h = o.clientHeight + 2, off = obj.offset(), len = narr.length, color = arr.color;
        ;
        var s1 = '';
        for (var i = 0; i < len; i++) {
            var ob = (i + 1 == len) ? '0' : '1';
            s1 += '<a onclick="return xtindex.menuclick(' + oi + ',' + i + ',this)" style="border-bottom-width:' + ob + 'px"><img src="' + PUBLIC + 'images/icons/file.png" class="icons">' + narr[i].name + '</a>';
        }
        var top = off.top - 2, top1 = top;
        var jg = top1 + len * 45 - winHb();
        if (jg > 0)top1 = top1 - jg;
        if (top1 < 0)top1 = 0;
        if (color == null || !color)color = '';
        var s = '';
        s = '<span temp="menuchild" onmouseout="xtindex.outchild(this)"><div onmousemove="xtindex.hidebool=false" style="top:' + top + 'px;width:' + (w + 8) + 'px" class="menuout1"><img src="' + PUBLIC + 'images/icons/' + arr.icons + '.png" class="icons"><span style="color:' + color + '">' + arr.name + '</span></div>';
        s += '<div style="top:' + top1 + 'px;left:' + (w + 3) + 'px" class="menuout2">';
        s += '<div class="page-menu" onmousemove="xtindex.hidebool=false">' + s1 + '</div>';
        s += '</div></span>';
        $('body').prepend(s);
        return false;
    },

    hidebool: false,

    outchild: function (o) {
        clearTimeout(this.outchildtime);
        this.hidebool = true;
        this.outchildtime = setTimeout(function () {
            if (xtindex.hidebool)$(o).remove()
        }, 100);
    },

    //切换皮肤
    color: function () {

        return false;
    },

    //下拉框,{name:'修改头像',icons:'faceIcon',url:'face,system',num:'face'}
    dropdown: function (event) {
        var narr = [
            {
                name: '更换主题', icons: 'color', url: 'style,system', num: 'style'
            },
            {
                name: '修改密码', icons: 'file', url: 'pass,system', num: 'pass'
            },
            {
                name: '退出', icons: 'file', url: '' + APP + 'Login/exit', type: 2
            }
        ];
        var arr = {name: '个人中心', children: narr};
        var moi = this.menuarr.push(arr) - 1;
        var len = narr.length;
        var s1 = '';
        for (var i = 0; i < len; i++) {
            var ob = (i + 1 == len) ? '0' : '1';
            s1 += '<a onclick="return xtindex.menuclick(' + moi + ',' + i + ',this)" style="border-bottom-width:' + ob + 'px"><img src="' + PUBLIC + 'images/icons/' + narr[i].icons + '.png" class="icons">' + narr[i].name + '</a>';
        }
        var s = '<span temp="menuchild" onmouseout="xtindex.outchild(this)"><div style="top:40px;left:' + (winWb() - 200) + 'px;width:200px" class="menuout2">';
        s += '<div class="page-menu" onmousemove="xtindex.hidebool=false">' + s1 + '</div>';
        s += '</div></span>';
        $('body').prepend(s);
        return false
    },

    moveleft: function (o, event) {
        var obj = $('#indexleftmenu');
        $('#movedivshow').remove();
        document.onmousemove = '';
        document.onmouseup = '';
        var s = '<div style="height:100%;width:100%;position: absolute;z-index:99;background-color:white;left:0px;top:0px;filter:Alpha(Opacity=0);opacity:0;cursor:e-resize;" id="movedivshow"></div>';
        $('body').append(s);
        var l = event.clientX;
        var w = obj.width();
        var _move = function (evt) {
            evt = window.event || evt;
            var x = evt.clientX;
            var nw = w + x - l;
            if (nw > 150 && nw < 600) {
                obj.css('width', '' + (nw) + 'px');
                tabs.setrwidht();
            }
        }
        var _up = function () {
            $('#movedivshow').remove();
            document.onmousemove = '';
            document.onmouseup = '';
        }
        document.onmousemove = _move;
        document.onmouseup = _up;
    }
}

//选择卡
var tabs = {
    num: 1,
    tabsarr: [
        {name: '首 页', url: '' + APP + 'Index/home', num: 'home'}
    ],//添加已打开选择卡数组
    noi: 0,
    lnoi: [0],
    tabnuar: {home: '0'},	//记录编号对应的序号
    setrwidht: function () {
        get('atabsright').style.width = '10px';
        var a = $('#atabsright').offset();
        var lg = (isIE) ? 30 : 2;
        var wa = winWb() - a.left - lg;
        get('atabsright').style.width = '' + wa + 'px';
    },
    //添加选择卡
    add: function (arr) {
        var zxu = this.num;
        var num = arr.num;
        var sid = arr.id;//菜单id
        if (!sid)sid = '0';
        //读取编号
        if (num == '' || !num || num == null) {
            num = 'tabs_' + zxu + '';
        }
        if (get('atabsxu_' + num + '')) {
            this.changetabs(this.tabnuar[num]);
            return false;
        } else {
            arr.num = num;//赋值编号
            var url = arr.url;
            if (url == null || !url)url = '';
            //URL地址使用是menu,dir,[action,]aid=1&b=a]
            if (url != '') {
                if (url.indexOf('.php') < 0 && url.indexOf(',') >= 0) {
                    var ura = url.split(',');
                    var mc = ura[1];
                    url = '' + APP + '' + mc.substr(0, 1).toUpperCase() + '' + mc.substr(1) + '/' + ura[0] + '';
                    if (ura.length >= 3) {
                        var canu = ura[2].replace(/\=/gi, '/').replace(/\&/gi, '/');
                        url += '/' + canu + '';
                    }
                    if (sid != '0')url += '/menuid/' + sid + '';
                }
                if (url.indexOf('?') > 0 && sid != '0')url += '&menuid=' + sid + '';
            }
            if (sid != '0')$.get('__URL__/clickmenu/menuId/' + sid);//记录使用菜单id
            this.tabsarr[zxu] = arr;
            this.tabnuar[num] = zxu;
            var st = '<a id="atabsxu_' + num + '" onclick="return tabs.changetabs(' + zxu + ')" class="active"><font>' + arr.name + '</font><span><img src="' + PUBLIC + 'images/nclose.gif" onclick="tabs.close(' + zxu + ')"></span></a>';
            var sn = '<iframe width="100%" height="100%" scrolling="yes" id="aiframexu_' + num + '" name="faiframexu_' + num + '" src="' + url + '" frameborder="0"></iframe>';
            $('#spantabsleft').append(st);
            $('#ifarmecontent').append(sn);
            this.changetabs(zxu);
            this.setrwidht();
        }
        this.num++;
    },
    clickbo: false,
    changetabs: function (oi, abo) {
        if (this.clickbo && !abo)return false;
        if (this.noi == oi)return false;
        $("a[id^='atabsxu_']").removeClass();
        $("iframe[id^='aiframexu_']").hide();
        var arr = this.tabsarr[oi];
        $('#atabsxu_' + arr.num + '').addClass('active');
        $('#aiframexu_' + arr.num + '').show();
        this.lnoi.push(this.noi);
        this.noi = oi;
        return false;
    },
    addhome: function () {
        var arr = this.tabsarr[0];
        var st = '<a onclick="return tabs.changetabs(0)" id="atabsxu_' + arr.num + '" class="active"><font>' + arr.name + '</font></a>';
        var sn = '<iframe width="100%" height="100%" id="aiframexu_' + arr.num + '"  name="faiframexu_' + arr.num + '" src="' + arr.url + '" frameborder="0"></iframe>';
        $('#spantabsleft').append(st);
        $('#ifarmecontent').append(sn);
        this.setrwidht();
    },
    close: function (oi) {
        this.clickbo = true;
        var arr = this.tabsarr[oi];
        var num = arr.num;
        $('#atabsxu_' + arr.num + '').remove();
        $('#aiframexu_' + arr.num + '').remove();
        if (this.noi == oi) {
            var loi = this.lnoi.pop();
            this.closefuz(loi);
        }
        this.setrwidht();
        setTimeout('tabs.clickbo=false', 50);
    },
    //编号来关闭选择卡
    closetabs: function (num) {
        var oi = this.tabnuar[num];
        if (!oi || oi == 0)return false;
        this.close(oi);
    },
    closefuz: function (oi) {
        var num = this.tabsarr[oi].num;
        if (get('atabsxu_' + num + '')) {
            this.changetabs(oi, true);
        } else {
            var loi = this.lnoi.pop();
            this.closefuz(loi);
        }
    },
    //刷新
    reload: function (num) {
        try {
            eval('faiframexu_' + num + '').location.reload();
        } catch (e) {
        }
    },
    //当前选择卡刷新
    nowtabsreload: function () {
        var num = this.tabsarr[this.noi].num;
        this.reload(num);
        return false;
    },
    backupshow: function () {
        var num = this.tabsarr[this.noi].num;
        try {
            eval('faiframexu_' + num + '').js.backtop();
        } catch (e) {
        }
        return false;
    }
}
//全屏的
var fullscreenbbol = false;
function fullscreen() {
    if (!fullscreenbbol) {
        $('#mainindextop').hide();
        $('#indexleftmenu').hide();
        fullscreenbbol = true;
    } else {
        $('#mainindextop').show();
        $('#indexleftmenu').show();
        fullscreenbbol = false;
    }
    xtindex.setheight();
    return false;
}


function onkeydown(event) {
    var code = event.keyCode;
    if (code == 122) {
        fullscreen();//全屏
    }
    if (event.altKey) {
        //R 刷新
        if (code == 82) {
            tabs.nowtabsreload();
        }
        //T 回答顶部
        if (code == 84) {
            tabs.backupshow();
        }
    }
}
function initbody() {
    xtindex.init();
    $(document).keydown(onkeydown);//注册快捷键
}
</script>

<body scroll="no" class="indexbody">

<table width="100%" height="100%" cellspacing="0" cellpadding="0">
    <tr>
        <td id="mainindextop">

            <div class="indextop" style="border-width:0px 0px 1px 0px">
                <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="center" height="45" nowrap style="padding:0px 10px"><img
                                src="__PUBLIC__/images/icon-25.png"></td>
                        <td nowrap style="font-size:20px;padding-right:15px;font-family:'微软雅黑';color:white">
                            {$GLOBALS['X_G']["website"]["name"]}
                        </td>
                        <td width="80%">
                            <div class="tnav" id="topMenu">
                                <a class="active" onclick="tabs.changetabs(0);return xtindex.homechang(this)"><img
                                        src="__PUBLIC__/images/icons/home.png" class="icons"> 首 页</a>
                                {loop $topMenu $kv $menu}
                                <a id="menutop{$kv}" tempid="{$menu['id']}"
                                   onclick="return xtindex.getmenu('{$menu['id']}',this)">{if $menu['icons'] != ''}<img
                                        src="__PUBLIC__/images/icons/{$menu['icons']}.png" class="icons">{/if}{$menu['name']}</a>
                                {/loop}
                            </div>
                        </td>
                        <td><a href="javascript:"
                               onclick="return addtabs({num:'face',url:'face,system',name:'修改头像'})"><img
                                src="__PUBLIC__/images/icons/userm.png" width="16" align="absmiddle" height="16"></a>
                        </td>
                        <td>&nbsp;&nbsp;</td>
                        <td nowrap onclick="return xtindex.dropdown(event)" style="cursor:pointer;color:white">
                            您好，{$name} <b class="caret"></b></td>
                        <td>&nbsp;&nbsp;</td>
                    </tr>
                </table>
            </div>

        </td>
    </tr>

    <tr>
        <td height="100%" valign="top">


            <table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0">
                <tr valign="top">
                    <td width="200" id="indexleftmenu" style="color:#ffffff;position: relative;">
                        <div align="center"><h3 id="page-menu-top"></h3></div>
                        <div class="page-menu" id="page-menu"></div>
                    </td>
                    <td width="5">
                        <div class="indexborder" onmousedown="xtindex.moveleft(this,event)"
                             style="height:100%;width:7px;overflow:hidden;border-width:0px 1px;cursor:e-resize;-moz-user-select:none;user-select:none"></div>
                    </td>
                    <td bgcolor="white">

                        <table width="100%" height="100%" cellspacing="0" cellpadding="0" border="0">
                            <tr>
                                <td>
                                    <div class="xttabs" id="xt-tabs" style="margin-top:5px">
								<span id="spantabsleft">
								<a href="javascript" class="activeleft"></a>
								</span>
                                        <span><a id="atabsright" class="activeright"></a></span>
                                    </div>

                                </td>
                            </tr>
                            <tr>
                                <td height="100%">
                                    <div id="ifarmecontent" style="height:100%;overflow:hidden"></div>
                                </td>
                            </tr>
                        </table>


                    </td>
                </tr>
            </table>


        </td>
    </tr>

    <tr>
        <td height="20" style="display:">
            <div class="indextop" style="border-width:1px 0px 0px 0px;height:25px">
                <div style="float:left;width:50%">
                    <table cellspacing="0" cellpadding="0" border="0">
                        <tr>
                            <td height="25" width="2"></td>
                            <td><img src="__PUBLIC__/images/icons/userm.png"></td>
                            <td width="5"></td>
                            <td style="font-size:12px;color:#ffffff">您好，{$name}</td>
                            <td width="20" align="center">
                                <div class="splitys"
                                     style="height:12px;overflow:hidden;width:1px;border-width:0px 1px 0px 0px"></div>
                            </td>
                            <td style="font-size:12px;color:#ffffff">登录次数：{$urs['login_num']}</td>
                            <td width="20" align="center">
                                <div class="splitys"
                                     style="height:12px;overflow:hidden;width:1px;border-width:0px 1px 0px 0px"></div>
                            </td>
                            <td style="font-size:12px;color:#ffffff">IP：{$ip}</td>
                            <td width="20" align="center">
                                <div class="splitys"
                                     style="height:12px;overflow:hidden;width:1px;border-width:0px 1px 0px 0px"></div>
                            </td>
                            <td style="font-size:12px;color:#ffffff">基于xy框架版本{VERSION}</td>
                        </tr>
                    </table>
                </div>
                <div style="float:right;width:50%">
                    <table cellspacing="0" align="right" cellpadding="0" border="0">
                        <tr>
                            <td style="font-size:12px;color:#ffffff"><span id="nowtimespan"
                                                                           style="font-size:12px;color:#ffffff"></span>
                            </td>
                            <td width="20" align="center">
                                <div class="splitys"
                                     style="height:12px;overflow:hidden;width:1px;border-width:0px 1px 0px 0px"></div>
                            </td>
                            <td height="25"><a onclick="return tabs.backupshow()"><img data-toggle="tooltip"
                                                                                       title="回到顶部(Alt+T)"
                                                                                       src="__PUBLIC__/images/icons/up.png"></a>
                            </td>
                            <td width="20" align="center">
                                <div class="splitys"
                                     style="height:12px;overflow:hidden;width:1px;border-width:0px 1px 0px 0px"></div>
                            </td>
                            <td height="25"><a onclick="return fullscreen()"><img data-toggle="tooltip" title="全屏(F11)"
                                                                                  src="__PUBLIC__/images/icons/full.png"></a>
                            </td>
                            <td width="5"></td>
                            <td width="20" align="center">
                                <div class="splitys"
                                     style="height:12px;overflow:hidden;width:1px;border-width:0px 1px 0px 0px"></div>
                            </td>
                            <td height="25"><a onclick="return tabs.nowtabsreload()"><img data-toggle="tooltip"
                                                                                          title="刷新(Alt+R)"
                                                                                          src="__PUBLIC__/images/icons/reload.png"></a>
                            </td>
                            <td width="5"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
    </tr>
</table>


</body>
</html>